%h1 New Customer
= form_with model: @customer do |form|
  %div
    = form.label :name
    %br/
    = form.text_field :name
  %div
    = form.label :phone
    %br/
    = form.text_field :phone
  %div
    = form.submit
